.App{
  background-image: url("https://cdn.mos.cms.futurecdn.net/YXEdRhNLntgK7pEApHmqP6-1200-80.jpg.webp");
  width: 100%;
  height: 1500px;
}
.grid{
  display: grid;
  grid-template-columns: repeat(1fr,4);
  gap:20px
}